{% extends "layout.njk" %}
{% block content %}
    <h1>{{message}}</h1>
    <p>Välkommen till sida</p>
    <p>KLICKA <a href="/om">om</a></p>
    <p>KLICKA <a href="/ytub">watch</a></p>
    <p>KLICKA <a href="/calc">calc</a></p>
    <p>KLICKA <a href="/quiz">quiz</a></p>
    

{% endblock %} 