{% extends "layout.njk" %}
{% block content %}
    <h1>{{message}}</h1>
    <p>AAAAAAAAAAAAAa</p>
    <p>KLICKA <a href="/">här för tillbaka</a></p>
    
    <img src="/img/joker.gif" alt="le joker">
    <img src="/img/joker2.gif" alt="le joker2">
    
{% endblock %} 